<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new student</title>
</head>
<body>
    <h1>Add a new student</h1>
    <form method = "post" action = "/nsut/admin/add/student">
        Student's Roll no: <input placeholder="Enter Student's Roll no" name="rollno"><br><br>
        firstname: <input placeholder="Enter firstname" name="fname"><br><br>
        lastname: <input placeholder="Enter lastname" name="lname"><br><br>
        email id: <input placeholder="Enter email id" name="email"><br><br>
        gender: <input placeholder="Enter gender" name="gender"><br><br>
        address: <input placeholder="Enter address" name="address"><br><br>
        <button>Add Student</button>
    </form>
</body>
</html>
