<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New staff</title>
</head>
<body>
    <h1>Add a new staff</h1>
    <form method="post" action="/nsut/admin/add/staff">
        <input type="text" name="staffid" placeholder="Enter Staff ID">
        <input type="text" name="name" placeholder="Enter Staff name">
        <input type="text" name="position" placeholder="Enter Staff position(Warden/Janitor/Security)">
        <button>Add staff</button>
    </form>
</body>
</html>
