<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin's Page</title>
</head>
<body>
    <h1>Welcome authorized admin</h1>
    <h3>What do u plan to do today?</h3>
    <p>staff details</p>
    <p>student details</p>
    <p>Add a newc student</p>
    <form action="/nsut/staff/edit" method="patch">
        <input type="text" placeholder="enter id" name="stdId">
        <input type="text" placeholder="enter name" name="name">
        <button>Edit</button>
    </form>
</body>
</html>