<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    
    <div class="img"><h1>Welcome to our university's Hostel Management portal</h1></div>
    <h3>Login as Autherised User</h3>
    <div class="container"><ul>
        <div><li><a href="http://localhost:8080/nsut/admin">Admin Login</a></li></div>
        <div><li><a href="http://localhost:8080/nsut/staff">Staff Login</a></li></div>
        <div><li><a href="http://localhost:8080/nsut/student">Student Login</a></li></div>
    </ul></div>
</body>
</html>