<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <h1>Welcome to our university's Hostel Management portal</h1>
    <h3>login as autherised user</h3>
    <ul>
        <li><a href="http://localhost:8080/nsut/admin">admin login</a></li>
        <li><a href="http://localhost:8080/nsut/staff">staff login</a></li>
        <li><a href="http://localhost:8080/nsut/student">student login</a></li>
    </ul>
</body>
</html>