<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff's page</title>
    <link rel="stylesheet" href="/staffpage.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <div class="entire">
        <h1>Welcome Authorized Staff</h1><hr>
        <div class="cool">
            <box-icon type='solid' name='user-rectangle' size="70px"></box-icon><br>
        </div>
        <div class="input-box">
            <div class="stuff">
                <p><b>Identification No(Also Password for login): </b><%=staff.staffid%></p>
                <p><b>Name(Also username): </b><%=staff.name%></p>
                <p><b>Post: </b><%=staff.pos%></p>
            </div>
        </div>
        <br>
        <h3>What do you plan to do today?</h3><br><br>
        <div class="link">
            <a href="http://localhost:8080/nsut/staff">Logout</a><br><br>
        </div>
        <form method="post" action="/stf/contact/<%=staff.staffid%>" class="login-form">
            <h2>Please add your contact details, if not done yet: </h2>
            <div class="data">
                Email id:&nbsp;<input type="email" name="email" required/>
            </div>
            <div class="data">
                Phone No:&nbsp; <input type="text" name="phoneno" required/>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
</html>
