<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student's Page</title>
</head>
<body>
    <h1>Welcome authorized student</h1>
    <h3>What do u plan to do today?</h3>
</body>
</html>