<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
</head>
<body>
    <h1>Welcome Student</h1>
    <h3>plz enter ur details to login</h3>
    <form method="post" action="/nsut/student/show">
        <input name="username" type="text" placeholder="Enter ur username">
        <input name="password" type="password" placeholder="enter ur password">
        <button>Login</button> 
    </form>
</body>
</html>